.form_subscription_controls{
    display: flex;
    word-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.form_subscription_control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.form_subscription_control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 200px;
    max-width: 100%;

}